antlrworks-1.5.2-complete.jar
src/me/miak/parser
/out/
/shelf/
**/**/.idea/workspace.xml
**/**/.idea/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf
/VM/cmake-build-minsizerel/*
/VM/test.cexe